.contenidoPrincipalRegistro{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenidoPrincipalRegistro form{
    width: 50%;
    height: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.botones{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.contenidoPrincipalRegistro input[type='reset']{
    border-style: none;
    width: 40%;
    padding: 20px 0px;
    background: #888888;
    border-radius: 23.011px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.contenidoPrincipalRegistro input[type='submit']{
    border-style: none;
    width: 40%;
    padding: 20px 0px;
    background: #1CD1B0;
    border-radius: 23.011px;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}


.contenidoPrincipalRegistro p{
    margin-top: 10px;
    font-size: 20px;
    width: 100%;
    text-align: center;
}